body{
    
    background-image: url("./image/index.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.Container{
    /* background-image: url("./image/index.png"); */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: repeat(5,200px); */
        grid-auto-rows: minmax(100px, auto);
        gap: 15px;
        margin: 25%;
        
}
button{
  background-color: rgb(240, 239, 174);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.4s;
}
button:hover {
  box-shadow:  0 50px 50px 0 rgba(0,0,0,0.24),0 100px 50px 0 rgba(0,0,0,0.19);
}
button a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}